.automations-container {
  height: 650px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 100%;
  box-sizing: border-box;
}

.automations-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 16px;
  width: 100%;
  flex-shrink: 0;
}

.table-responsive {
  flex: 1;
  overflow-y: auto;
  width: 100%;
}
